html,
body {
  width: 100%;
  background: #e5e5e5;
  font-family: Sans, Arial, Verdana;
}

h1 {
  font-size: 20px;
  color: rgb(145, 145, 145);
}

select,
button {
  font-size: 14px;
}

#messages p {
  font-size: 14px;
  color: rgb(236, 67, 91);
}
